div {
  background: #f00;
  height: 200px;
  margin: 100px auto 0;
  width: 200px;
  box-shadow: 2px 2px 2px 2px blue;
  -moz-box-shadow: 2px 2px 2px 2px blue;
  -webkit-box-shadow: 2px 2px 2px 2px blue;
}
